<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Webroots" value=""/>
    <add key="ExcludeDirectories" value="_vti_cnf"/>
    <add key="IncludeSections" value="connectionStrings,system.web/sessionState,secureAppSettings"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>